@{
    Layout = Url.Content ("Shared/_Layout.cshtml");
}

<h4>Lets do something...</h4>

<div class="separator-8"></div>

<div class="row">
    <div class="col-sm-12">
        <ul class="list-unstyled list-inline">
            <li><a href="@Url.Content("~/Jobs")" class="btn btn-default btn-lg margin-right-16" role="button">Jobs</a></li>
            <li><a href="@Url.Content("~/Tasks")" class="btn btn-default btn-lg margin-right-16" role="button">Queue/Scheduled tasks</a></li>
            <li><a href="@Url.Content("~/Modules")" class="btn btn-default btn-lg margin-right-16" role="button">Modules</a></li>
            <li><a href="@Url.Content("~/Events")" class="btn btn-default btn-lg margin-right-16" role="button">Events</a></li>
            <li><a href="@Url.Content("~/Configuration")" class="btn btn-default btn-lg margin-right-16" role="button" title="System wide configuration/setup">Configuration</a></li>
        </ul>        
    </div>
</div>

@section scripts {
    <script type="text/javascript">


        // initialization
        $(document).ready(function () {
            // ...
        });
    </script>
}